<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kjaymiller.bunch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>067AEB96-43D7-4410-82D2-25499A4DAE36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close the {query} bunch</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>105014BF-1562-46A5-AC03-6CF76967433D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6905EB44-F809-4A03-8CE7-F1CB4C900861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F609F3D-188D-4378-B68E-F62C9BB8711B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48180282-2A59-4026-A154-A38B95B78B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48180282-2A59-4026-A154-A38B95B78B8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8619B750-1DDE-435E-A4CF-782170633E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6BC0F4F9-AF18-4E97-BB9A-7C0E6D503A74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>close {query}</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</key>
		<array/>
		<key>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kjaymiller</string>
	<key>description</key>
	<string>Runs the Selected Bunch</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bunch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://open?bunch={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>bunch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 bunch.py
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bunch.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Work with Bunch</string>
				<key>type</key>
				<integer>6</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>067AEB96-43D7-4410-82D2-25499A4DAE36</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://close?bunch={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>b</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 bunch.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bunch.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Work with Bunch</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6BC0F4F9-AF18-4E97-BB9A-7C0E6D503A74</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings</string>
				<key>subtext</key>
				<string>Current Dir: {var:config_dir}. CMD+Return will prompt you to reset your working dir</string>
				<key>text</key>
				<string>Open Bunch Settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>105014BF-1562-46A5-AC03-6CF76967433D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://prefs</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>6905EB44-F809-4A03-8CE7-F1CB4C900861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:configDir}</string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:bunches_folder</string>
				<key>subtext</key>
				<string>Current Dir: {var:config_dir}. CMD+Return will prompt you to reset your working dir</string>
				<key>text</key>
				<string>View your current bunches folder.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh Your Bunches</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F609F3D-188D-4378-B68E-F62C9BB8711B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The Bunches has been Set to {query}</string>
				<key>title</key>
				<string>The Bunches has been Set to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8619B750-1DDE-435E-A4CF-782170633E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://setPref?configDir={var:configDir}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48180282-2A59-4026-A154-A38B95B78B8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:help</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show the Bunch for Alfred Readme</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/kjaymiller/Bunch_Alfred</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>**Update**
Adds support for bunch's preferences pane.


This workflow takes advantage of Brett Terpstra's [Bunch Application](https://brettterpstra.com/projects/bunch/). 

Bunch is a workspace loader that you can use to quickly open/close applications, urls, documents, and more to come. 

This workflow utilizes Bunch's [x-callback-url](https://brettterpstra.com/bunch-beta/docs/integration/url-handler/).


This Workflow is maintained by kjaymiller.
More at https://kjaymiller.com.


## Directions:

## First Use

&gt; The default path it assumes your bunces are at is `~/bunches` (This is the path I set so if you have any issues where you cannot see your bunches change the variable to your desired path and run `bsettings:refresh`

1. trigger Alfred
2. type bunch (You should see "Work with Bunch" press **return** or **tab**
3. begin typing the name of the bunch you wish to run (You can also search through the bunches
4. _Return_ will open the bunch. _⌘+Return_ will close the bunch

## Troubleshooting

* `bsettings:refresh` - Refreshes your Bunch List and your Bunches Application with the value in Workflow Environment Variables under `configDir (Default ~/bunches)`

### That still didn't work

copy the value in configDir and run this command in terminal
`defaults write /Users/&lt;YOUR_PROFILE&gt;/Library/Preferences/com.brettterpstra.Bunch.plist configDir -string &lt;configDir_VARIABLE&gt;`</string>
	<key>uidata</key>
	<dict>
		<key>067AEB96-43D7-4410-82D2-25499A4DAE36</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</key>
		<dict>
			<key>xpos</key>
			<integer>245</integer>
			<key>ypos</key>
			<integer>875</integer>
		</dict>
		<key>105014BF-1562-46A5-AC03-6CF76967433D</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>2F609F3D-188D-4378-B68E-F62C9BB8711B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>48180282-2A59-4026-A154-A38B95B78B8E</key>
		<dict>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</key>
		<dict>
			<key>xpos</key>
			<integer>395</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>6905EB44-F809-4A03-8CE7-F1CB4C900861</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>465</integer>
		</dict>
		<key>6BC0F4F9-AF18-4E97-BB9A-7C0E6D503A74</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>120</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>8619B750-1DDE-435E-A4CF-782170633E33</key>
		<dict>
			<key>xpos</key>
			<integer>360</integer>
			<key>ypos</key>
			<integer>735</integer>
		</dict>
		<key>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>285</integer>
			<key>ypos</key>
			<integer>600</integer>
		</dict>
		<key>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>80</integer>
			<key>ypos</key>
			<integer>875</integer>
		</dict>
		<key>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</key>
		<dict>
			<key>xpos</key>
			<integer>400</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cli_path</key>
		<string>bunch</string>
		<key>configDir</key>
		<string>~/bunches</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2021.04.011</string>
	<key>webaddress</key>
	<string>https://kjaymiller.com</string>
</dict>
</plist>
