<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kjaymiller.bunch</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>067AEB96-43D7-4410-82D2-25499A4DAE36</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Close the {query} bunch</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F609F3D-188D-4378-B68E-F62C9BB8711B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48180282-2A59-4026-A154-A38B95B78B8E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38F02C6F-4C77-47A4-872F-D797372D01BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A001C415-D64A-47A5-A77D-1217D56E6B16</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>48180282-2A59-4026-A154-A38B95B78B8E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4EB93C9D-45A8-4AF8-9C20-C4CFB9DC833D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4EB93C9D-45A8-4AF8-9C20-C4CFB9DC833D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8619B750-1DDE-435E-A4CF-782170633E33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52BBF730-92FD-4C69-803E-B83B653F974A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38F02C6F-4C77-47A4-872F-D797372D01BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</key>
		<array/>
		<key>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>kjaymiller</string>
	<key>description</key>
	<string>Runs the Selected Bunch</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Bunch</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string></string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{query}</string>
				<key>textcolor</key>
				<string></string>
				<key>wrapat</key>
				<integer>50</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A001C415-D64A-47A5-A77D-1217D56E6B16</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>ruby bunch.rb --show-config</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>38F02C6F-4C77-47A4-872F-D797372D01BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:show_config</string>
				<key>subtext</key>
				<string>Current Dir: {var:working_dir}. CMD+Return will prompt you to reset your working dir</string>
				<key>text</key>
				<string>Show the config for your bunches folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>52BBF730-92FD-4C69-803E-B83B653F974A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:working_dir}</string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:bunches_folder</string>
				<key>subtext</key>
				<string>Current Dir: {var:working_dir}. CMD+Return will prompt you to reset your working dir</string>
				<key>text</key>
				<string>View your current bunches folder.</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:refresh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Refresh Your Bunches</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2F609F3D-188D-4378-B68E-F62C9BB8711B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The Bunches has been Set to {query}</string>
				<key>title</key>
				<string>The Bunches has been Set to {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8619B750-1DDE-435E-A4CF-782170633E33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>bunch.rb -f</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4EB93C9D-45A8-4AF8-9C20-C4CFB9DC833D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://setPref?configDir=Users/kjaymiller/bunches</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>48180282-2A59-4026-A154-A38B95B78B8E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://open?bunch={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>bsettings:help</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Show the Bunch for Alfred Readme</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/kjaymiller/Bunch_Alfred</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>bunch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python3 bunch.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>bunch.rb</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Work with Bunch</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>067AEB96-43D7-4410-82D2-25499A4DAE36</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>x-bunch://close?bunch={query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow takes advantage of Brett Terpstra's [Bunch Application](https://brettterpstra.com/projects/bunch/). 

Bunch is a workspace loader that you can use to quickly open/close applications, urls, documents, and more to come. 

This workflow utilizes Bunch's [CLI script](https://gist.github.com/ttscoff/07820820270759b5ce98b06521877a54)

This Workflow is maintained by kjaymiller.
More at https://kjaymiller.com.


## Directions:

* `b - Top Level Bunch Selector`
* `b &lt;bunch&gt;` - Toggles the selected bunch

MODIFIERS (+ Return)
--------------------
 - CMD = Forces Open the Bunch
 - Control = Forces Closed the Applications listed in the bunch.
 - Shift = Opens the Bunch file to be edited
--------------------

* `bedit &lt;bunch&gt; - Opens the Bunch file to be edited
* `bsettings:refresh` - Refreshes your Bunch List 

Change Log
----------
2019-05-31.0
Huge overhaul of the workflow. This workflow no longer runs off the url scheme and now runs off the CLI that Brett and a few others have created. 

This change will allow for greater flexibility and speed with the application.

I've also changed the refresh call to now be contained in a single javascript for automation script instead of many steps. This was just for a cleaner look.

* CHANGED `b - Top Level Bunch Selector` Now displays the active bunches
* Changed: `b &lt;bunch filename&gt;` - Runs the Selected Bunch
* REMOVED: `b display &lt;bunch filename&gt;` - Displays the contents of the Bunch in Large Text
* CHANGED `b edit &lt;bunch filename&gt;` - Now `bedit &lt;bunch name&gt;
* CHANGED `b refresh` -now</string>
	<key>uidata</key>
	<dict>
		<key>067AEB96-43D7-4410-82D2-25499A4DAE36</key>
		<dict>
			<key>colorindex</key>
			<integer>8</integer>
			<key>xpos</key>
			<integer>180</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>0A0C9C61-D2B2-4F68-8BBB-8BA320513ADB</key>
		<dict>
			<key>xpos</key>
			<integer>1055</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>2F609F3D-188D-4378-B68E-F62C9BB8711B</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>795</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>38F02C6F-4C77-47A4-872F-D797372D01BF</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1045</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>48180282-2A59-4026-A154-A38B95B78B8E</key>
		<dict>
			<key>xpos</key>
			<integer>935</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>4EB93C9D-45A8-4AF8-9C20-C4CFB9DC833D</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>1075</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>52BBF730-92FD-4C69-803E-B83B653F974A</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>885</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>53ABD444-7BB1-453E-9673-E26AA6DCB4AD</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>585</integer>
		</dict>
		<key>7D6D96AF-6EFB-4C25-831A-678741FBF6E2</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>8619B750-1DDE-435E-A4CF-782170633E33</key>
		<dict>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>9742ED83-5307-4CA5-BAAC-0BEB4411CDB4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<integer>1050</integer>
			<key>ypos</key>
			<integer>325</integer>
		</dict>
		<key>A001C415-D64A-47A5-A77D-1217D56E6B16</key>
		<dict>
			<key>xpos</key>
			<integer>1200</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>CDBCE65F-3A55-4961-AD2A-EF7B130B1749</key>
		<dict>
			<key>colorindex</key>
			<integer>5</integer>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>635</integer>
		</dict>
		<key>CE9FA7C5-482B-4561-9AB8-DBFAFFE3588E</key>
		<dict>
			<key>xpos</key>
			<integer>460</integer>
			<key>ypos</key>
			<integer>750</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cli_path</key>
		<string>bunch</string>
		<key>working_dir</key>
		<string>/user/kjaymiller/bunches</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>2021.04.01</string>
	<key>webaddress</key>
	<string>https://kjaymiller.com</string>
</dict>
</plist>
